DATABASE_URL=postgresql://usuario:password@host/nombre_bd?sslmode=require&channel_binding=require
TELEGRAM_BOT_TOKEN=tu_token_aqui
TELEGRAM_CHAT_ID=tu_chat_id_aqui

# Configuración InfluxDB 3 (Persona 1 - Hardware)
INFLUX_HOST=http://localhost:8181
INFLUX_TOKEN=tu_influxdb3_token_aqui
INFLUX_DATABASE=sensores

# Configuración Servicio YOLO (Persona 2 - Visión)
YOLO_SERVICE_URL=http://localhost:8001/predict